<div class="container-fluid">
  <div class="row" id="manu">
    <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
      <h1>カフェマナ</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-md-8 col-lg-8 col-xl-8" style="background-color:#EDF7FF;">
      <%=image_tag("social-icons-01.png",:size=>"5*5",:alt=>"twitter_btn")%>
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4 col-xl-4" style="background-color:#FFF7FF;">
      <%=image_tag("social-icons-01.png",:size=>"5*5",:alt=>"twitter_btn")%>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-md-4 col-lg-4 col-xl-4" style="background-color:#FFF7FF;">
      <%=image_tag("social-icons-01.png",:size=>"5*5",:alt=>"twitter_btn")%>
    </div>
    <div class="col-xs-8 col-md-8 col-lg-8 col-xl-8" style="background-color:#EDF7FF;">
      <%=image_tag("social-icons-01.png",:size=>"5*5",:alt=>"twitter_btn")%>
    </div>
  </div>

  <!-- <p>カフェインマネジメントを始める</p> -->
  <!-- <a href="#" class="twitter_btn">
    <%=image_tag("social-icons-01.png",:size=>"5*5",:alt=>"twitter_btn")%>
  </a> -->

</div>
