<p id="notice"><%= notice %></p>
<hr>
<div id="messageArea"><div id="message">defolt</div></div>

<font size="3">カフェマネ<%= @testdata %></font>
------------------------------------------------------------------
<div style="width:70%;">
      <div class="chartjs-size-monitor" style="position:
        absolute; left: 0px; top: 0px; right: 0px;
        bottom: 0px; overflow: hidden; pointer-events: none;
        visibility: hidden; z-index: -1;">
        <div class="chartjs-size-monitor-expand"
        style="position:absolute;left:0;top:0;right:0;bottom:0;
          overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
          <div style="position:absolute;width:1000000px;
            height:1000000px;left:0;top:0">
          </div>
        </div>
        <div class="chartjs-size-monitor-shrink"
          style="position:absolute;left:0;top:0;right:0;bottom:0;
          overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
          <div style="position:absolute;width:200%;height:200%;left:0; top:0">
          </div>
        </div>
      </div>
        <canvas id="canvas" width="1400" height="1000"
          style="background-color:#FFFFFF88;"
          class="chartjs-render-monitor"
          style="display: block; height: 563px; width: 1127px;">
        </canvas>
    </div>


<hr>
<div class=buttontable>
  <tbody >
    <% @drinks.order('cafeinAmount DESC').where("cafeinAmount<?",@num).each do |drink| %>

        <div class=driclass>
          <button class="dributton" id='<%= drink.id %>'>
                <div class=imglink>
                  <img border="0" src="<%= drink.imgLink %>" >
                  <img src="<%= drink.outimgLink %>" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"><hr width="85%" color="#CCCCCC">
                </div>
                <p class=product><%= drink.name%></p>
                 <p class=cafeinAmount> カフェイン量：<%= drink.cafeinAmount %> mg</p>
          </button>


        </div>
      <script type="text/javascript">
        $('#<%= drink.id %>').click(function(){

          $.ajax({
              type: "POST",
              port: 3000,
              url: "./drinkLogSet",
              data: {
                  "d_id": '<%=drink.id%>'
                },
                beforeSend: function(xhr){
                  xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
                },
              success: function(j_data){
                location.reload(true);
              }
          });
        });

      </script>
    <% end %>
  </tbody>
  <br clear ="all">
</div>
  <div class=logview>
  <h1>ドリンクチャージの記録</h1>
  ユーザー = <%= @LoginUser.name %>
  <hr>
</div>
  <div class=logview>
    <% @userDrinkLog.each do |drinkLog| %>
      ドリンク名　<%= Drink.find_by(id:drinkLog.drink_id).name%>
      飲んだ時間　<%= drinkLog.created_at%><br>
      <% end %>
  </div>
  <input id=logbtn type = "button" value="最新の記録を消す"　></input>
  <input id=csschan type = "button" value="css"　></input>

  <script type="text/javascript">
    $(function() {
        $("#logbtn").click(function(){
            $.ajax({
                type: "POST",
                port: 3000,
                url: "./drinkLogDel",
                data: {
                    "d_id": 100
                },
                beforeSend: function(xhr) {
                    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
                  },
                success: function(j_data){
                  location.reload()
                    // 処理を記述
                }
            });
        });
    });
    $(function() {
        $("#csschan").click(function(){
          document.body.style.backgroundImage = 'linear-gradient(-90deg, #FD4E66, #D8FF57)';

                                                              //  (-90deg,#29FF6D, #2F6FF9)
        });
    });
  </script>
<hr>
<script>
    window.addEventListener("load",function(event) {
        message();
        document.body.style.backgroundImage = 'linear-gradient(-90deg, #4EFD86, #578CFF)';

    });
</script>

<script type="text/javascript">
  $('.buy').click(function(){
    $('.bottom').addClass("clicked");
  });

</script>
<hr>
